
<ion-content padding text-center [ngStyle]="{'backgroundColor': '#64b5f6'}">
  <div class="dTable">
    <div class="dCell">
      <div class="logoIcon">
        <ion-icon name="pin"></ion-icon>
      </div>

      <div>
        <elevator></elevator>
      </div>

      <div *ngIf="geoPos?.coords?.accuracy">
        <b>Précision:</b> ~{{ (geoPos) ? round(geoPos?.coords?.accuracy)+'m' : 'loading...' }} <br>
        <b>Lat:</b> {{ (geoPos) ? round(geoPos?.coords?.latitude, 8) : 'loading...' }} <br>
        <b>Lng:</b> {{ (geoPos) ? round(geoPos?.coords?.longitude, 8) : 'loading...' }} <br>
        <div>
          <br>
          <span (click)="goToMap()">
            <button ion-button icon-left color="light" outline round>
              <ion-icon name="map"></ion-icon>
              View on map
            </button>
          </span>
        </div>
      </div>
      <div *ngIf="!geoPos?.coords?.accuracy">
        <h1>Chargement...</h1>
      </div>
    </div>
  </div>
</ion-content>
